node_modules/
.git/*
*.log
*.log.*
tests/config.json

\.idea/

Sources/Calculation/CalculationFinancial/CalculationFinancial\.xcworkspace/xcuserdata/

Sources/Calculation/CalculationFinancial/CalculationFinancial\.xcodeproj/xcuserdata/
